[Desktop Entry]
Encoding=UTF-8
Name=GeN-Foam online documentation
Type=Link
URL=https://foam-for-nuclear.gitlab.io/GeN-Foam/index.html
Icon=text-html
